body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #323b8d;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#grilla {
    margin: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.fila-interno {
    background-color: lightblue;
    font-weight: bold;
}


/**
* Estilos para el tooltip
*/
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:0px solid #666;
    text-align:left;
    cursor: pointer;
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#0099CC;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#0099CC;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
